# tamano del tablero.
TAMANO = 11

# coordenadas x y y respectivamente de las fichas blancas.
#POSBX =(3,4,4,4,5,5,5,5,6,6,6,7)
#POSBY =(5,4,5,6,3,4,6,7,4,5,6,5)
POSBX =(3,)
POSBY =(5,)

# coordenadas x y y respectivamente de las fichas negras.
POSNX = (0,0,0,0,0,1,10,10,10,10,10,9,3,4,5,6,7,5,3,4,5,6,7,5)
POSNY =	(3,4,5,6,7,5,3,4,5,6,7,5,0,0,0,0,0,1,10,10,10,10,10,9)

# tamano en pixeles de la ventana.
LARGO_VENTANA = 594
ANCHO_VENTANA = 594