# tamano del tablero.
TAMANO = 11

""" Las listas deben ir ordenadas para evitar errores """
# coordenadas x y y respectivamente de las fichas blancas.
BLANCA = [(3,5),(4,4),(4,5),(4,6),(5,3),(5,4),(5,6),(5,7),(6,4),(6,5),(6,6),(7,6)]

# coordenadas x y y respectivamente de las fichas negras.
NEGRA = [(0,3),(0,4),(0,5),(0,6),(0,7),(1,5),(3,0),(3,10),(4,0),(4,10),(5,0),(5,1),(5,9),(5,10),(6,0),(6,10),(7,0),(7,10),(9,5),(10,3),(10,4),(10,5),(10,6),(10,7)]

# tamano en pixeles de la ventana.
LARGO_VENTANA = 594
ANCHO_VENTANA = 594

#                      R    G    B
COLOR_FONDO        = ( 80,  48,  34)
COLOR1             = ( 80,  48,  34)
COLOR2             = (203, 173, 112)
COLOR_CLARO1       = (140, 108,  94)
COLOR_CLARO2       = (255, 233, 172)
COLOR_ALERTA_ROJA  = (248,  55,  47)
COLOR_ALERTA_VERDE = ( 55, 200,  47)
COLOR_MARGEN       = ( 75,  43,  29)
COLOR_TEXTO        = ( 60,  28,  14)

CARPETA = "img"
IMG0 = "rey.png"
IMG1 = "blanca.png"
IMG2 = "negra.png"
